<div>
  <div style="color:white;border-radius:3px;background-color:black;padding:4px;">Polls For You >> </div>
  <br>
  <a *ngIf="!isStudent" class="btn btn-warning" style="float:right;margin-right:10px; " [routerLink]="['/polls']">Polls By You</a>
  <div *ngIf="isLoader" style="margin:auto;height:60px;width:60px;margin-top:30px;" class="loader"></div>
  <div *ngIf="!isLoader && polls.length <= 0" style="text-align:center;">
    <b>* No Polls Available</b>
  </div>
  <div style="overflow:hidden;margin-top:40px">
    <div class="card" *ngFor="let poll of polls">
      <span>
        <b>{{poll.question}}</b>
      </span>
      <br>
      <br>
      <div style="width:46%;display:inline-block">
        <span>On - {{poll.createdAt | date}}</span>
        <br>
        <span>By - {{poll.employeName}}</span>
      </div>
      <div style="width:46%;display:inline-block">
        <span>Option Type - {{poll.optionTypeName}}</span>
        <br>
        <span>End Date - {{poll.expiredAt | date}} </span>
      </div>
      <br>
      <hr>
      <div style="text-align:center">
        <span *ngFor="let option of poll.options">
          <input [type]="choiceType(poll)" name="name" (click)="votes(option,toCheck)" #toCheck [value]="option.name"> {{ option.name}}
          <br>
          <br>
        </span>
        <input type="button" class="btn btn-warning" (click)="submitPoll(poll)" [disabled]="vote.length == 0" value="vote">
      </div>
    </div>
  </div>
  <div>
    <span *ngIf="more && !isLoader" class="glyphicon glyphicon-chevron-down" (click)="getPolls()"></span>
  </div>

</div>
<div class="modal fade" id="poll" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{selectedPoll.question}}</h4>
      </div>
      <div class="modal-body" style="padding:20px">
        <!-- Created By : {{selectedPoll.employeName}} -->
        <!-- Student Vote  {{selectedPoll.studentVoteCount}} -->
        <!-- <br> Created At : {{selectedPoll.createdAt | date }} -->
        <!-- <br> Expire At : {{selectedPoll.expiredAt | date}} -->
        <!-- <br> Total Votes : {{selectedPoll.totalVote}} <br> <br>    -->
        <div *ngIf="!isStudent">
          <span *ngFor="let option of selectedPoll.options">
            {{option.name}}
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="option.percent">
                <span style="color:black">{{ option.percent }} %</span>
              </div>
            </div>
          </span>
        </div>
        <div *ngIf="isStudent">
          <br>
          <form>
            <span *ngFor="let option of selectedPoll.options">
              <input [type]="choiceType()" name="name" (click)="votes(option,toCheck)" #toCheck [value]="option.name"> {{ option.name}}
              <br>
              <br>
            </span>
            <input type="button" class="btn btn-success" [disabled]="vote.length == 0" (click)="submitPoll()" value="Vote">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="message" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->