<div style="height:100%">
    <div style="text-align:center; ">
        <ul class="list">
            <li [ngClass]="type == 'management'? 'list-selected' : ''" (click)="setLoginType('management')" class="list-items">Management</li>
            <li [ngClass]="type == 'student'? 'list-selected' : ''" (click)="setLoginType('student')" class="list-items">Student</li>
        </ul><br>
        <form [formGroup]="loginForm" (ngSubmit)="verifyUser()" > 
            <!-- <label for="username">Username : </label> -->
            <input type="text" id="username" formControlName="username" placeholder="Username"><br><br>
            <!-- <label for="password">Password : </label> -->
            <input type="password" id="password" formControlName="password" placeholder="Password"><br><br>
            <input class="btnn btn" type="submit" value="Login">
        </form>
    </div>
</div>