<div>
    <div class="header">
        <span (click)="sideNavbar()" style="font-size:21px;top:8px;" id="toggle" class="glyphicon glyphicon-menu-hamburger"></span>
        <span style="color:white;margin-left:10px;">GULF</span>
    </div>

    <div id="mySidenav" class="sidenav">
        <a  [routerLink]='["/complaints"]' routerLinkActive="active" >Complaints</a>
        <a  [routerLink]='["/suggestions"]' routerLinkActive="active" >Suggestions</a>
        <a  [routerLink]='["/appreciations"]' routerLinkActive="active" >Appreciation</a>
        <a  [routerLink]='["/polls"]' routerLinkActive="active" >Polls</a>
        <a (click)="logout()" routerLinkActive="active" >Log Out</a>
    </div>

    <div id="main">
        <router-outlet></router-outlet>
    </div>
      
</div>

<div class="modal fade" id="logout" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirm Logout</h4>
          <br>
            
          <button style="float:right;margin-left:3px " (click)="confirm = false" type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
          <button style="float:right" (click)="confirm = true; logout() " type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>  
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
