<div style="color:white;border-radius:3px;background-color:black;padding:4px;">Closed Polls >> </div>
<br>
<a class="btn btn-success" style="float:right;margin-right:10px; " routerLink="/polls"> Current Polls</a>
<br>
<div *ngIf="isLoader" style="margin:auto;height:60px;width:60px;margin-top:30px;" class="loader"></div>
<br>
<div class="card" [style.borderBottomColor]="poll.mainAudienceColor" *ngFor="let poll of polls; let i = index" style="cursor:pointer">
    
    <!-- <img class="user-pic" src="/assets/profile.png" alt="user-pic"> -->
    <div style="width:25%;margin-left:15px;display:inline-block;vertical-align:top">
        <div style="height:20px;">{{poll.question}}</div>
        <br>
        <span [style.color]="poll.mainAudienceColor">
            Created By : {{poll.employeName}}</span>
        <br> Created At : {{poll.createdAt | date }}

    </div>

    <div style="width:25%;margin-left:15px;display:inline-block;vertical-align:top ">
        Student Vote {{poll.studentVoteCount}}
        <br> Total Votes : {{poll.totalVote}}
        <br>
        <br> Audiences :
        <br>
        <span *ngFor="let audi of poll.audiences || poll.departments || poll.programs || poll.modules">
            {{audi}}
            <br>
        </span>
        <br>
        <br> Option Type :
        <br> {{poll.optionTypeName}}
    </div>

    <div style="width:45%;display:inline-block">
        <div *ngIf="!isStudent">
            <span *ngFor="let option of poll.options">
                {{option.name}}
                <br>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="option.percent">
                        <span style="color:black">{{ option.percent }} %</span>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

<div>
        <div *ngIf="moreLoader" style="margin:auto;height:60px;width:60px;margin-top:30px;" class="loader"></div>
    <div *ngIf="more" style="margin:auto;height:10px;width:10px;" (click)="getPollsByTeacherClosed();moreLoader = true" class="glyphicon glyphicon-chevron-down"></div>
</div>