<!-- new code//////////////////////////////////////////////////////////////////////////////// -->

<!-- code for complaint -->
<div class="container">
    <div class="header-text">Dashboard</div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 grey-box text-center">
            <i class="fa fa-home" aria-hidden="true"></i> HOME
        </div>
        <div class="col-md-6 col-lg-8 col-sm-8 col-xs-12 white-box">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> COMPLAINTS
        </div>
        <div class="col-lg-2 col-md-4 col-sm-2 col-xs-12 pink-box text-center">
            <!-- filter by -->
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-filter small-size"></span> Filter {{filterShow}}
                    
                </a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle font-color " data-toggle="dropdown">Priority</a>
                            <ul class="dropdown-menu sub-items" (click)="filterType = 'p';filter();">
                                <li *ngFor="let p of PriorityList">
                                    <a (click)="func(p)">{{p.id}}</a>
                                </li>

                            </ul>

                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle  font-color " data-toggle="dropdown">Status</a>
                                <ul class="dropdown-menu sub-items" (click)="filterType = 's';filter()">
                                    <li *ngFor="let s of StatusList">
                                        <a (click)="func(s)">{{s.name}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle font-color " data-toggle="dropdown">Category</a>
                                <ul class="dropdown-menu sub-items" (click)="filterType = 'c';">

                                    <li class="dropdown-submenu" *ngFor="let c of category">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{c.name}}</a>
                                        <ul class="dropdown-menu sub-items">
                                            <li *ngFor="let t of c.subCategory" [class]="t.subCategory ? 'dropdown-submenu' : ''">
                                                <a *ngIf="!t.subCategory" (click)="func(t);filter()">{{t.name}}</a>
                                                <a *ngIf="t.subCategory" class="dropdown-toggle" data-toggle="dropdown">{{t.name}}</a>
                                                <ul *ngIf="t.subCategory" class="dropdown-menu">
                                                    <li *ngFor="let ts of t.subCategory">
                                                        <a (click)="func(ts);filter()">{{ts.name}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                    </li>
            </ul>
            <span style="float:left" *ngIf="filterBy != ''" (click)="complaints=complaintsCopy;removeFilter()" class="glyphicon glyphicon-remove"></span>

            <!-- sort By -->
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-sort small-size"></span> Sort  {{sortBy}}
                   
                </a>
                    <ul class="dropdown-menu " (click)="sort()">
                        <li>
                            <a (click)="sortBy = 'title'" class=" font-color ">Title</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="sortBy = 'status'" class=" font-color ">Status</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="sortBy = 'category'" class=" font-color ">Category</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <span style="float:left" *ngIf="sortBy != ''" (click)="complaints=complaintsCopy;removeSort()" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</div>
<div *ngIf="isLoader" class="loader"></div>
<!-- cards -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let complaint of complaints; let i = index">
            <div class="box" (click)="openComplaint(complaint, i)" [style.border-color]="complaint.statusColor">

                <img [src]="complaint.studentPic || '/assets/profile.png'" *ngIf="complaint.studentPic" />
                <img src="http://citimedny.com/wp-content/uploads/2016/02/flat-faces-icons-circle-6-min.png" *ngIf="!complaint.studentPic"
                />
                <div class="title">{{complaint.title}}</div>
                <div class="detail">
                    <table class="list">
                        <tr>
                            <td><i class="fa fa-link" aria-hidden="true" [style.color]="complaint.statusColor"></i></td>
                            <td>Against:</td>
                            <td> {{complaint.againstEmployeeName || complaint.againstCategoryName}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-street-view" aria-hidden="true" [style.color]="complaint.statusColor"></i></td>
                            <td>Status:</td>
                            <td>{{complaint.statusName}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar-check-o" aria-hidden="true" [style.color]="complaint.statusColor"></i></td>
                            <td>Date:</td>
                            <td> {{complaint.createdAt | date }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-thermometer-half" aria-hidden="true" [style.color]="complaint.statusColor"></i></td>
                            <td>Priority:</td>
                            <td>{{complaint.priority}}</td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>


    </div>
    <div *ngIf="moreLoader" class="loader"></div>
    <button type="button" class="btn btn-theme grey-box" (click)="moreComplaints(); moreLoader = true" *ngIf="more">MORE</button>
</div>


<!-- ((((((((((((((((((((((((((model-code)))))))))))))))))))))))))) -->
<div class="modal fade" id="showComplaint" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="title-header">
                <table>
                    <tr>
                        <td width="60%" class="title-name">Complaint</td>
                        <td width="60%" class="date-name">{{selectedComplaint.createdAt | date}}<span *ngIf='selectedComplaint.closedOn'> - {{selectedComplaint.closedOn | date}}</span></td>
                        <td width="30%" class="close-name" (click)="openComments()"><i class="fa fa-comments-o" aria-hidden="true"></i></td>
                        <td width="90%" class="close-name" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></td>
                    </tr>

                </table>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="student-details">
                            <img [src]="selectedComplaint.studentPic || '/assets/profile.png'" *ngIf="selectedComplaint.studentPic">
                            <img src="http://citimedny.com/wp-content/uploads/2016/02/flat-faces-icons-circle-6-min.png" *ngIf="!selectedComplaint.studentPic">
                            <h2 [style.color]="selectedComplaint.statusColor">{{selectedComplaint.studentName}}</h2>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <div class="description">
                            <b>{{selectedComplaint.title}}</b>
                            <p *ngIf="selectedComplaint.description">{{selectedComplaint.description}}</p>

                        </div>
                        <table>
                            <tr>
                                <td><i class="fa fa-street-view" aria-hidden="true" [style.color]="selectedComplaint.statusColor"></i></td>
                                <td>Status:</td>
                                <td>{{selectedComplaint.statusName}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-thermometer-quarter" aria-hidden="true" [style.color]="selectedComplaint.statusColor"></i></td>
                                <td>Priority:</td>
                                <td>{{selectedComplaint.priority}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-certificate" aria-hidden="true" [style.color]="selectedComplaint.statusColor"></i></td>
                                <td>Category:</td>
                                <td>{{selectedComplaint.againstCategoryName}}</td>
                            </tr>
                            <tr *ngIf="selectedComplaint.againstCategoryName == 'Faculty Member' ">
                                <td><i class="fa fa-thumbs-o-down" aria-hidden="true" [style.color]="selectedComplaint.statusColor"></i></td>
                                <td>Against:</td>
                                <td> {{selectedComplaint.againstEmployeeName}}</td>
                            </tr>
                        </table>
                        <div class="button-option">
                            <button (click)="toclose = true" *ngIf="selectedComplaint.statusId == 1 || selectedComplaint.statusId == 5 || selectedComplaint.statusId == 3 || selectedComplaint.statusId == 2"
                                class="btn btn btn-danger">
                                Close Compliant
                            </button>
                            <button (click)="toreopen = true" *ngIf="selectedComplaint.statusId == 4" class="btn btn btn-warning">
                                Reopen Complaint
                            </button>
                            <button (click)="satisfyComplaint()" *ngIf="selectedComplaint.statusId == 4" class="btn btn btn-success">
                              Mark  Satisfied
                            </button>

                        </div>
                        <div class="button-option" *ngIf="!isStudent">
                            <button (click)="toclose = true" *ngIf="selectedComplaint.statusId == 1 || selectedComplaint.statusId == 3 || selectedComplaint.statusId == 2"
                                class="btn btn btn-danger">
                                Close
                            </button>
                            <button (click)="toedit = true;getDetails()" *ngIf="selectedComplaint.statusId == 3 || selectedComplaint.statusId == 1 || selectedComplaint.statusId == 2"
                                class="btn btn btn-info">
                                Edit
                            </button>
                        </div>
                        <br *ngIf="toclose">
                        <br *ngIf="toclose">
                        <div *ngIf="toclose">
                            <div class="reason-text" *ngIf="!isStudent">
                                <h4>Reason:</h4>
                                <form>
                                    <textarea class="form-control" rows="5" id="comment" [(ngModel)]="reason"></textarea>


                                </form>
                            </div>
                            <div class="rca-text" *ngIf="!isStudent">
                                <h4>Root Cause Analysis:</h4>
                                <form>
                                    <textarea class="form-control" rows="4" id="comment"></textarea>
                                </form>
                            </div>
                            <button style="right:0px" (click)="closeComplaint()" *ngIf="!isStudent" [disabled]="reason.length == 0 || rca.length == 0"
                                class="btn btn-primary">Submit</button>

                            <button *ngIf="isStudent" (click)="closeComplaint()" style="right:0px" [disabled]="reason.length == 0 " class="btn btn-primary">Submit</button>
                        </div>
                        <br *ngIf="toreopen">
                        <br *ngIf="toreopen">
                        <div *ngIf="toreopen">
                            <h4>Reason:</h4>
                            <form>
                                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="reason"></textarea>
                            </form>
                            <button *ngIf="isStudent" (click)="reOpenComplaint()" style="right:0px" [disabled]="reason.length == 0" class="btn btn-primary">Submit</button>


                        </div>
                        <br *ngIf="toedit">
                        <br *ngIf="toedit">
                        <div *ngIf="toedit">

                            <input *ngIf="selectedComplaint.statusId == 2" type="checkbox" (change)="status = !status">
                            <span *ngIf="selectedComplaint.statusId == 2"> InProgress </span>
                            <br>
                            <br> Priority :
                            <br>
                            <select class="form-control" [(ngModel)]="priority">
                                    <option selected="true" disabled="true" value="">Choose Priority</option>
                                    <option *ngFor="let p of PriorityList" [value]="p.id">{{p.id}}</option>
                                </select>
                            <br> Faculty :
                            <br>
                            <select class="form-control" [(ngModel)]="faculty">
                                    <option selected="true" disabled="true" value="null">Choose Faculty</option>
                                    <option *ngFor="let f of FacultyList" [value]="f.id">{{f.name}}</option>
                                </select>
                            <br>
                            <button (click)="editComplaint()" style="right:0px" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="success" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{message}}</h4>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="chat-box" class="message-box" [style.display]="isOpen ? 'block' : 'none'">
    <div class="message-head"> Comments
        <span (click)="isOpen = false" style="float:right" class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="message-body">
        <span style="padding:5px;border-radius:6px;background-color:#3ca7ff" *ngFor="let comment of comments" class="message">
            <span>{{comment.comment}}</span>
        <span style="font-size:8px; color:rgb(34, 34, 34)">{{comment.employeeName || comment.studentName}} {{comment.createdAt | date}} </span>
        <br>
        <br>
        </span>
    </div>
    <div class="message-foot">
        <input type="text" [disabled]="selectedComplaint.statusId == 6 || selectedComplaint.statusId == 4 " style="display:inline;width:88%"
            [(ngModel)]="comment" class="form-control">
        <span class="message-send glyphicon glyphicon-send" (click)="sendComment()"></span>
    </div>
</div>