.card{
    float: left;
    width : 30%;
    margin: 1%;
    border:2px solid grey;
    padding : 10px;
    border-bottom-width : 4px;    
}

.user-pic{
    width : 100px;
    height : 100px;
}

.btns{
    margin-left:6px;
    margin-right:6px;
}

.message-box{
    width:25%; 
    height:300px;
    position:fixed;
    right:0;
    bottom:0;
}

.message-head{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding : 5px;
    color:white;
    height:30px;
    background-color: black;
}

.message-body{
    padding:8px;
    height:230px;
    overflow-y: auto;
    background-color: white;
}

.message-foot{
    height:40px;
}

.message-send{
    color:white;
    padding: 6px;
    border-radius: 5px;
    background-color: black;
}